div#upload_widget {
    margin-left: 0px;
}

.thumbnail img {
    height: 260px;
    weight: 260px;
}

blockquote.boy{
  border-right: 5px solid #E90B00;
}

blockquote.girl{
    border-right: 5px solid #015094;
}