div#central_map_widget{
    padding: 8px;
}

div#central_map_canvas{
    height: 480px;
}

div#geo_search {
    margin-left: 0px;
}

.row .span2 img {
    height: 80px;
}

img.image_in_map {
    max-height: 200px;
    max-width: 200px;
}

div.div_in_map {
    max-height: 200px;
    max-width: 200px;
}

div#geo_search_result{
    display: none;
}