div#upload_widget {
    margin-left: 0px;
}

.thumbnail img {
    height: 260px;
    weight: 260px;
}

blockquote.pull-right {
  border-right: 5px solid #FFF;
}

.image_to_be_labelled {
    height: 200px;
}