div#upload_widget {
    margin-left: 0px;
}

div#map_indicator {
    height: 128px;
    margin-left: 0px;
}

img#image {
    height: 256px;
}

a#change_a_new_image {
    float: left;
}

div#image_upload_modal {
    padding: 30px;
}