{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block more_css_include %}
  <link href="/static/css/about.css" rel="stylesheet">
{% endblock %}

{% block more_js_include %}
  <script
      type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuRR1BAAVFTyt1A4N7vSGZlA2DM8SXYDU&sensor=true"></script>
{% endblock %}

{% block nav_active_about %} class="active"{% endblock %}


{% block body %}
  <div id="body" class="container">
    <div class="hero-unit">
      <h1>About us</h1>

      <div class="row">
        <div class="span3 offset4">
          <div class="thumbnail">
            <img src="/static/img/xiaolongzhu.jpg" alt="Xiaolong">
          </div>
          <blockquote class="pull-right boy">
            <p>My life is my message.</p>
            <small>Xiaolong</small>
          </blockquote>
        </div>
        <div class="span3">
          <div class="thumbnail">
            <img src="/static/img/xiaoyangli.jpg" alt="Xiaoyang">
          </div>
          <blockquote class="pull-right girl">
            <p>Future.</p>
            <small>Xiaoyang</small>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="span3"><p>We apply 3-layered design to our project, and separate policy from mechanism
          .</p>
        </div>
        <div class="span5  offset1">
          <ul>
            <li>Xiaoyang takes in charge of back-end development, e.g. designing data structure, database query, etc.
            </li>
            <li>Xiaolong takes in charge of front-end development and design.</li>
          </ul>
        </div>
      </div>
    </div>

  </div> <!-- #body -->
{% endblock %}
