{% extends "base.html" %}

{% block title %}Label{% endblock %}

{% block more_css_include %}
  <link href="/static/css/label.css" rel="stylesheet">
{% endblock %}


{% block more_js_include %}
  <script type="text/javascript" src="/static/js/raphael-min.js"></script>
  <script src="label.js"></script>
{% endblock %}

{% block body %}
  <div id="body" class="container">
    {% if image_left_key and image_right_key %}
      <h1>Label received!</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>left image key</td>
          <td>{{ image_left_key }}</td>
        </tr>
        <tr>
          <td>left bounding box: x1</td>
          <td>{{ image_left_bb.x1 }}</td>
        </tr>
        <tr>
          <td>left bounding box: y1</td>
          <td>{{ image_left_bb.y1 }}</td>
        </tr>
        <tr>
          <td>left bounding box: x2</td>
          <td>{{ image_left_bb.x2 }}</td>
        </tr>
        <tr>
          <td>left bounding box: y2</td>
          <td>{{ image_left_bb.y2 }}</td>
        </tr>
        <tr>
          <td>right image key</td>
          <td>{{ image_right_key }}</td>
        </tr>
        <tr>
          <td>right bounding box: x1</td>
          <td>{{ image_right_bb.x1 }}</td>
        </tr>
        <tr>
          <td>right bounding box: y1</td>
          <td>{{ image_right_bb.y1 }}</td>
        </tr>
        <tr>
          <td>right bounding box: x2</td>
          <td>{{ image_right_bb.x2 }}</td>
        </tr>
        <tr>
          <td>right bounding box: y2</td>
          <td>{{ image_right_bb.y2 }}</td>
        </tr>
        </tbody>
      </table>
    {% endif %}

  </div> <!-- #body -->
{% endblock %}