{% extends "base.html" %}

{% block title %}Upload an image{% endblock %}

{% block more_css_include %}
  <link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}

{% block more_js_include %}
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="/static/js/upload.js" type="text/javascript"></script>
{% endblock %}

{% block nav_active_upload %} class="active"{% endblock %}

{% block body %}
  <div id="body" class="container">

    {% if upload_is_successful %}
      <div class="row" id="upload_widget">
        <h1>Upload Successful!</h1>
      </div>
    {% else %}
      <!-- upload an image-->

      <!-- upload -->
      <div class="row" id="upload_widget">
        <form class="form-horizontal" action='/upload' method=
            "POST">
          <fieldset>
            <legend>Upload an image</legend>

            <div class="control-group">
              <label class="control-label">Select an Image to upload</label>

              <div class="controls">
                {% if image_key %}
                  <p>Click below image to change a new one.</p>
                  <input type="hidden" name="image" id="image_key" value="{{ image_key }}">
                  <p>
                    <a id="change_a_new_image" href="#" class="thumbnail">
                      <img id="image" src="/serve/{{ image_key }}" alt="image" title="image">
                    </a>
                  </p>
                {% else %}
                  <input type="hidden" name="image" id="image_key">
                  <button class="btn" type="button" id="upload_image">Select an Image</button>
                  <p class="help-block">Please upload an image with v sign.</p>
                {% endif %}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Geo Location</label>

              <div class="controls">
                <div class="input-prepend input-append">
                  <span class="add-on">Lat</span><input type="text" class="input-small" id="input_lat" name="input_lat">
                </div>
                <div class="input-prepend input-append">
                  <span class="add-on">Lon</span><input type="text" class="input-small" id="input_lon" name="input_lon">
                </div>
                <button class="btn" type="button" id="locator"><i class="icon-map-marker"></i>Locate me</button>
                <p class="help-block">Geo location should be added to this photo.</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Current Position</label>

              <div class="controls">
                <div id="map_indicator" class="span4"></div>
              </div>
            </div>


            <div class="control-group">
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Upload</button>
                <button type="reset" class="btn">Reset</button>
                <!--<input type="submit" name="submit" value="Submit">-->
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <!-- /upload -->

      <div id="image_upload_modal" class="modal">
        <form id="image_upload_form" class="form-horizontal" action='{{ upload_url }}' method=
            "POST" enctype="multipart/form-data">
          <label>Choose an image:</label><input type="file" name="file" id="file">
          <button type="submit" class="btn btn-primary" id="image_upload_form_submit">Submit</button>
          <button type="reset" class="btn">Reset</button>
          <button type="reset" class="btn" id="image_upload_form_cancel">Cancel</button>
        </form>
      </div>


    {% endif %}

  </div>
  <!-- #body -->
{% endblock %}